<div class="container">
  <div class="row">
    <div class="col-sm-3 col-xs-12">
      <div class="logo-footer text-theme">
        <img src="assets/images/logo/logo-footer.png" alt="theme-img">
      </div>
      <p class="text-theme">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sit amet consectetur massa, in efficitur justo aliquam.</p>
      <div class="text-theme">
        <ul class="list-inline">
          <li><a href="#"><i class="fa fa-facebook fa-round"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter fa-round"></i></a></li>
          <li><a href="#"><i class="fa fa-dribbble fa-round"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin fa-round"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="col-sm-2 col-sm-offset-1 col-xs-6">
      <h3 class="text-theme title-sm hr-left">Home</h3>
      <ul class="list-unstyled text-theme">
        <li><a href="home-macbook-slider.html">Macbook Slider</a></li>
        <li><a href="home-filterable-portfolio.html">Filterable Portfolio</a></li>
        <li><a href="home-application.html">Application</a></li>
        <li><a href="home-personal-portfolio.html">Personal Option-1</a></li>
        <li><a href="home-personal-portfolio-option-2.html">Personal Option-2</a></li>
        <li><a href="home-one-page.html">Agency</a></li>
        <li><a href="home-photographer.html">Photographer</a></li>
      </ul>
    </div>
    <div class="col-sm-2 col-xs-6">
      <h3 class="text-theme title-sm hr-left">Pages</h3>
      <ul class="list-unstyled text-theme">
        <li><a href="about-us-option-1.html">About Us</a></li>
        <li><a href="services-option-2.html">Services</a></li>
        <li><a href="pricetables.html">Pricing Tables</a></li>
        <li><a href="contact-us-option-1.html">Contact</a></li>
        <li><a href="coming-soon-option-1.html">Coming Soon</a></li>
        <li><a href="faq.html">FAQs</a></li>
      </ul>
    </div>
    <div class="col-sm-4 col-xs-12">
      <h3 class="text-theme title-sm hr-left">Subscribe To Our Newsletter</h3>
      <div class="input-group text-theme">
        <input type="text" class="form-control input-lg" placeholder="E-mail">
        <span class="input-group-btn">
          <button type="button" class="btn btn-primary input-lg btn-z-index"><i class="fa fa-paper-plane"></i>Subscribe</button>
        </span>
      </div>
    </div>
  </div>
</div>