        <div class="menu-top menu-top-inverse">
          <div class="container">
            <div class="row">
              <div class="col-sm-5 hidden-xs">
                <a class="title-menu-top display-inline-block" href="mailto:support@ambmyanmartravels.com">support@ambmyanmartravels.com</a>
              </div>
              <div class="col-sm-7 col-xs-12">
                <div class="pull-right">
	                <div class="list-inline social-icons-menu-top pull-right">
	                  <a href="#" class="social-hover-v1 a-facebook"></a>
	                  <a href="#" class="social-hover-v1 a-google"></a>
	                  <a href="#" class="social-hover-v1 a-twitter"></a>
	                </div>
              	</div>
            </div>
          </div>
         </div>
        </div>

        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html"><img class="img-responsive" src="assets/images/logo/amb-logo-default.png" alt="theme-img"></a>
          </div>

          <div id="navbar" class="navbar-collapse collapse">

            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Bus Ticket</a>
                <ul class="dropdown-menu dropdown-menu-left" role="menu">

                  <li><a href="bus-home.html">Book Bus Ticket</a></li>
				  <li><a href="#">Bus Information</a></li>
                </ul>
              </li>

			  <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Flights</a>
                <ul class="dropdown-menu dropdown-menu-left" role="menu">

                  <li><a href="#">Book a flight</a></li>
				  <li><a href="#">Flight Information</a></li>
                </ul>
              </li>

              <!-- This section is for Destinations. Should be replaced with dynamic contents from backgound -->
              <li class="li-mega-menu dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Destinations</a>
                <div class="wrapper-mega-menu v1" role="menu">
                  <div class="mega-menu">
                    <div class="container">
                      <div class="wrapper-row wrapper-row-features">
                        <div class="row">
                          <div class="col-sm-6 col-md-3">
                            <ul class="list-unstyled">
                              <li><a href="feature-icon-box.html"><i class="fa fa-rocket"></i>Yangon</a></li>
                              <li><a href="feature-general-typography.html"><i class="fa fa-font"></i>Mandalay</a></li>
                              <li><a href="feature-content-box.html"><i class="fa fa-list-alt"></i>Kyaikhtiyo</a></li>
                              <li><a href="feature-primary-button.html"><i class="fa fa-hand-o-up"></i>Inle</a></li>
                            </ul>
                          </div>
                          <div class="col-sm-6 col-md-3">
                            <ul class="list-unstyled">
                              <li><a href="feature-accordion.html"><i class="fa fa-cogs"></i>Business trip</a></li>
                              <li><a href="feature-tab.html"><i class="fa fa-tasks"></i>Sight-seeing</a></li>
                              <li><a href="feature-panel.html"><i class="fa fa-columns"></i>Family</a></li>
                              <li><a href="feature-form.html"><i class="fa fa-check-square-o"></i>Honeymoon</a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>

              <li class="li-mega-menu dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">About Us</a>
                <div class="wrapper-mega-menu v2 stop-prop" role="menu">
                  <div class="mega-menu">
                    <div class="container">
                      <div class="wrapper-row">
                        <div class="row">
                          <div class="col-sm-4 col-md-3">
                            <h3 class="title-sm hr-full">Lists</h3>
                            <ul class="list-unstyled list-lg">
                              <li><i class="fa fa-check"></i>Fast Service</li>
                              <li><i class="fa fa-check"></i>7/24 Customer Support</li>
                              <li><i class="fa fa-check"></i>Experienced Team</li>
                              <li><i class="fa fa-check"></i>Joyful Experience</li>
                              <li><i class="fa fa-check"></i>Fast Service</li>
                              <li><i class="fa fa-check"></i>7/24 Customer Support</li>
                              <li><i class="fa fa-check"></i>Experienced Team</li>
                              <li><i class="fa fa-check"></i>Joyful Experience</li>
                              <li><i class="fa fa-check"></i>Fast Service</li>
                              <li><i class="fa fa-check"></i>7/24 Customer Support</li>
                            </ul>
                          </div>
                          <div class="col-sm-2 col-md-3">
                            <h3 class="title-sm hr-full"><span class="hidden-sm">Post</span> Boxes</h3>
                            <div class="post-xs-side">
                              <img class="img-responsive" src="assets/images/placeholder/80x80.gif" alt="theme-img">
                              <a href="#" class="category">MUSIC</a>
                              <p class="title hidden-sm">Lorem ipsum dolor amet</p>
                              <p class="meta hidden-md hidden-sm">January 1, 2014</p>
                            </div>
                            <div class="post-xs-side">
                              <img class="img-responsive img-thumb" src="assets/images/placeholder/80x80.gif" alt="theme-img">
                              <a href="#" class="category">VIDEO</a>
                              <p class="title hidden-sm">Lorem ipsum dolor amet</p>
                              <p class="meta hidden-md hidden-sm">January 1, 2014</p>
                            </div>
                            <div class="post-xs-side">
                              <img class="img-responsive img-thumb" src="assets/images/placeholder/80x80.gif" alt="theme-img">
                              <a href="#" class="category">MOVIE</a>
                              <p class="title hidden-sm">Lorem ipsum dolor amet</p>
                              <p class="meta hidden-md hidden-sm">January 1, 2014</p>
                            </div>
                          </div>
                          <div class="col-sm-4 col-md-3">
                            
                            <p class="text-theme">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer varius sapien pellentesque.</p>
                            <a class="text-theme btn btn-md btn-primary">Read More</a>
                          </div>

                          <div class="col-sm-2 col-md-3">
                            <h3 class="title-sm hr-full">Portfolio</h3>
                              <div class="row">
                                <div class="col-sm-12 col-md-6">
                                  <a href="#" class="img-wrapper rounded">
                                    <img class="img-responsive" src="assets/images/portfolio/800x600.gif" alt="theme-img">
                                  </a>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                  <a href="#" class="img-wrapper rounded">
                                    <img class="img-responsive" src="assets/images/portfolio/800x600.gif" alt="theme-img">
                                  </a>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-sm-12 col-md-6">
                                  <a href="#" class="img-wrapper rounded">
                                    <img class="img-responsive" src="assets/images/portfolio/800x600.gif" alt="theme-img">
                                  </a>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                  <a href="#" class="img-wrapper rounded">
                                    <img class="img-responsive" src="assets/images/portfolio/800x600.gif" alt="theme-img">
                                  </a>
                                </div>
                              </div>
                              <div class="row hidden-sm">
                                <div class="col-sm-12 col-md-6">
                                  <a href="#" class="img-wrapper rounded">
                                    <img class="img-responsive" src="assets/images/portfolio/800x600.gif" alt="theme-img">
                                  </a>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                  <a href="#" class="img-wrapper rounded">
                                    <img class="img-responsive" src="assets/images/portfolio/800x600.gif" alt="theme-img">
                                  </a>
                                </div>
                              </div>

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>

              <li class="li-search">
                <form class="nav-search">
                  <label for="focus-input"><i class="fa fa-search"></i></label>
                  <input id="focus-input" class="container" type="search" name="s" placeholder="To Search, Type and Hit Enter">
                </form>
              </li>

            </ul>
          </div><!--/.nav-collapse -->
        </div>
